
#FormPaddingTop, #FormPaddingBottom,#BodypaddingTop, #BodypaddingBottom{
  min-height: 5rem;
}

#Form{
  background-color: #ffae00;
  border-radius: .25rem;
  border: solid;
  border-color: #222;
  min-height: 5rem;
  box-shadow: 1px 1px 100rem rgba(0, 0, 0, 2);
  border: solid #222222;

  border-radius: 5px;
}
