/*TOP*/ /*TOP*/ /*TOP*/ /*TOP*/ /*TOP*/ /*TOP*/ /*TOP*/ /*TOP*/ /*TOP*/ /*TOP*/

a:link,
a:visited {
  color: white;
  text-decoration: none;
  display: inline-block;
}

body {
  height: auto;
  min-width: 1000px;
  background: #b5a167;

  display: grid;
  grid-template-columns: 1fr 1rem 80% 1rem 1fr;
  grid-template-rows: 1rem 40rem 1rem auto 1rem auto 1rem;

  grid-template-areas:
    ". . . . . "
    ". . header . . "
    ". . . . . "
    ". . main . . "
    ". . . . . "
    ". . footer . . "
    ". . . . . ";

  color: white;

  text-align: center;
}


.Header {
  grid-area: header;
  background-color: #222222;

  border-radius: 1rem;
  border: solid;
  border-color: #ffae00;

  display: grid;
  grid-template-columns: 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px;

  grid-template-rows: 5% 70% 20% 5%;

  grid-template-areas:
    ". . . . . . . . ."
    ". . logo logo logo logo logo . ."
    ". home . guides . contactus . aboutus ."
    ". . . . . . . . .";
}

.button {
  text-align: center;
  background-color: transparent;
  border: none;
  color: #ffae00;
  padding: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: left;
  margin: 1fr 20;
  cursor: pointer;

  text-align: center;
  font-size: 20pt;
  font-family: "Share Tech Mono", monospace;
}

.Header img {
  background-size: 25%;
}

.Logo {
  grid-area: logo;
  align-self: center;
}

.text {
  font-size: 20pt;
  font-family: "Share Tech Mono", monospace;
}
.text-justify{
    font-size: 10pt;
    font-family: "Share Tech Mono", monospace;
}

.rearrange{

  font-size: 10pt;
  font-family: "Share Tech Mono", monospace;

  


}

.Home {
  grid-area: home;
  align-self: center;
  margin: auto;
}

.Guides {
  grid-area: guides;
  align-self: center;
  margin: auto;
}

.Location {
  grid-area: location;
  align-self: center;
  margin: auto;
}

.ContactUs {
  grid-area: contactus;
  align-self: center;
  margin: auto;
}

.AboutUs {
  grid-area: aboutus;
  align-self: center;
  margin: auto;
}

.Body {
  grid-area: main;
  background-color: #6c4023;

  border-radius: 1rem;
  border: solid;
  border-color: #ffae00;

  align-self: stretch;
}

.Footer {
  grid-area: footer;
  padding: 3rem;
  background-color: #aaa8aa;
  height: auto;
  border-radius: 1rem;
  border: solid;
  border-color: #ffae00;
  padding: 0 20px 20px;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
  
}
.Footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.Footer hr.small {
  margin: 20px 0;
}
.Footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.Footer a {
  color: #737373;
}
.Footer a:hover {
  color: #3366cc;
  text-decoration: none;
  
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.Footer .social-icons {
  text-align: right;
}
.Footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .Footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .Footer {
    padding-bottom: 0;
  }
  .Footer .copyright-text,
  .Footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
