#Services {
    font-size: 30pt;
    border-bottom: 5px solid #ffae00;
    color: white;
    text-align: center;
    margin: 2rem;
}

#mainPara {
    font-size: 18pt;
    margin: 2rem;
    text-align: center;
    color: white;
    border-bottom: 5px solid #ffae00;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

#Supports {
    font-size: 30pt;
    text-align: center;
    color: white;
    padding: 1rem;
}

#Bullets {
    font-size: 14pt;
    padding-left: 4rem;
    text-align: left;
    color: white;
}

#Bullet {
    padding-bottom: 1rem;
}

#closingPara {
    font-size: 18pt;
    padding: 2rem;
    text-align: center;
    color: white;
    margin: 2rem;
    border-top: 5px solid #ffae00;
}

#Row0{
  text-align: center;
  color: white;

}

#Row1{
  text-align: center;
  color: white;
}

#Row2{
  text-align: center;
  color: white;
}

#Row2 h1{
  
}

#Row3{
  text-align: center;
  color: white;
  padding: 2rem;
}

#Row3 iframe{
  border: solid;
  border-color: black;
}
