.guide {
     
    display: grid;
    grid-template-columns: 1rem 1fr 3fr 1fr 1rem;
    grid-template-rows: 1rem auto 1rem;
  
    grid-template-areas:
    ". . . . . "
    ". step help pic . "
    ". . . . . ";
    
    text-align: center;
    height: 1000px;;
  }
  
  .Step{
    grid-area: step;
  }

  .Help{
    grid-area: step;
  }

  .Pic{
    grid-area: pic;
  }