@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);

.content {
    position: relative;
    overflow: hidden;
    margin: 62px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    background: black;
    text-align: left;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-perspective: 20em;
    perspective: 20em;

    border-radius: .5rem;
    border: solid;
    border-color: #ffae00;
}

.content * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.content img {
    max-width: 100%;
    vertical-align: top;
    padding: 1rem;
}

.content .ClickHere {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9em;
    opacity: 0;
    background-color: black;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.content .ClickHere i {
    display: inline-block;
    margin-right: 10px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background-color: gold;
    color: #ffffff;
    font-size: 1.4em;
}

.content figcaption {
    padding: 20px;
}

.content h3,
.content p {
    margin: 0;
}

.content h3 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.content p {
    font-size: 0.9em;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;
    vertical-align:bottom;
}

.content a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.content:hover .ClickHere,
.content.hover .ClickHere {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.content:hover .ClickHere i,
.content.hover .ClickHere i {
    background-color: #ffae00;
}

#description{
  color: white;
  border-radius: .5rem;
  border: solid;
  border-color: #ffae00;
  background-color: black;
  margin-top: 2rem;
  text-align: center;
  padding-bottom: 1rem;
}
