
.cards {
    position: absolute;
    height: 450px;
    width: 400px;
    top: 800px;
    right: 1000;
    left: 1000px;
    bottom: 0;
    margin: auto;
    background-image: url(vreph5xqwm311.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 80px -10px black;
    overflow: hidden;
}
